---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<style>
	.intro {
		background-image: url('/ai-nthony-bourd-ai-n.webp');
		background-position: calc(50% - 100px) top;
		background-repeat: no-repeat;
		background-size: auto 100%;
		height: 80vh;
	}

	@media screen and (min-width: 1000px) {
		.intro {
			background-position: center top;
			background-size: cover;
		}
	}
	
</style>

<!doctype html>
<html class="bg-stone-100" lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-stone-100">
		<main>
			<section class="intro"></section>		
			<section class="pb-24 pt-8">
				<header class="px-8 lg:flex lg:gap-8 xl:mx-auto xl:max-w-7xl xl:px-0">
					<h2 class="text-3xl font-display tracking-tight text-gray-900 uppercase sm:text-6xl lg:text-5xl lg:flex-shrink-0 xl:text-7xl">No Reserva<span class="text-gray-200">i</span>tions</h2>
					<p class="mt-2 text-lg leading-8 max-w-3xl text-gray-600 lg:mt-0"><a href="https://en.wikipedia.org/wiki/Anthony_Bourdain">Anthony Bourdain</a> had a glorious way of describing the human experience, especially when it revolved around food and drink. This project uses AI to write reviews of places, in his general style. No bot can compare to the real person, but <strong class="font-bold">AI</strong>nthony Bourd<strong class="font-bold">AI</strong>n sure can bring life to a description of a place or an experience.</p>
				</header>
				<div class="space-y-20 lg:mt-8 lg:space-y-20">
					<ul>
						{posts.map((post) => (
							<li>
								<a class="block duration-300 group relative isolate mt-16 px-8 transition-all sm:py-12 sm:mt-0  hover:bg-stone-50" href={`/locations/${post.slug}/`}>
									<div class="flex flex-col gap-4 items-start max-w-2xl mx-auto sm:flex-row sm:gap-8 lg:max-w-7xl">
										<figure class="bg-white duration-300 flex-shrink-0 pb-5 pt-2 px-2 shadow-sm shadow-slate-10/20 transition-transform w-52 group-hover:-rotate-3" transition:name={`${post.data.title}-img`}>
											<img src={`/${post.data.heroImage}-thumb.webp`} alt={post.data.heroImageAlt} />
										</figure>
										<div>
											<div class="flex items-center gap-x-4 text-slate-500 text-sm xl:text-base">
												{post.data.city}, {post.data.state}
											</div>
											<div class="group relative">
												<h3 class="duration-300 mt-3 text-4xl font-display text-red-700 transition-color uppercase md:text-5xl group-hover:text-red-800 xl:text-8xl">
													<span class="absolute inset-0"></span>
													{post.data.title}
												</h3>
												<p class="duration-500 mt-2 xl:opacity-0 group-hover:opacity-100 text-gray-600 xl:text-xl transition-opacity">{post.data.description}</p>
											</div>
										</div>
									</div>
								</a>
							</li>
						))}
					</ul>
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
