---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { city, description, heroImage, pubDate, state, tags, title, updatedDate} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main class="bg-gray-50 p-16">
			<article class="md:items-start md:flex md:gap-16">
				<div class="bg-white flex-shrink-0 pb-10 pt-4 px-4 -rotate-3 shadow-lg shadow-slate-10/20 md:sticky md:top-8" transition:name={`${title}-img`}>
					{heroImage && <img width={640} height={480} src={heroImage} alt="" />}
					<ul class="flex font-decorative justify-between  mt-4">
						<li>{city} {state && `, ${state}` }</li>
						<li>{tags && tags.join(', ')}</li>
					</ul>
				</div>
				<div class="prose">
					<div class="title">
						<div class="date">
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1 class="font-display text-2xl uppercase md:text-7xl">{title}</h1>
						<hr />
					</div>
					<div class="longform pt-8">
						<slot />
						<a class="block mt-8" href="/">Back to locations</a>
					</div>
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
